*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-size: cover;
    background-position: auto;
    
    
    
    
}
.menu-bar
{
    background: rgb(4, 178, 247);
    text-align: center;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}.menu-bar ul li a
{
text-decoration: none;
color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: #000000;
    border-radius: 3px;

}
.menu-bar .fa
{
    margin-right: 8px;

}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #04b5eb;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;

}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #000000;
}
.sub-menu-2
{
    display: none;
    border-radius: 3px;

}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: #04b5eb;
}
.home{
    height: 88vh;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding:  10%;
}
.home-content h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 200px;
    color: #fff;
}
h2{
    color: #04e9b7;
    font-size: 27px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: aqua;
    left: 0ch;

}
h4{
    margin-bottom: 40px;
    font-size: 25px;
    color: #fffdfd;
}